*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    background: black;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(My_Images/background_image.png);  /* I want add the images [folder_name/image_name */
    background-position: center;
    background-size: cover;
}
.container{
    padding: 10px 10%;

}

/* new */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
}

.home-left {
    width: 60%;
    color: white;
}

.home-right {
    width: 35%;
    display: flex;
    justify-content: center;
}

.home-right img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ff9900;  /* orange border */
    box-shadow: 0 0 20px rgba(255,153,0,0.4);
}

/* newend */

.logo{
    width: 150px;
    height: 100px;
    border-radius: 50px;
    margin-top: 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(253, 112, 60);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.head-text{
    margin-top:100px;
}
span{
    color: rgb(253, 112, 60);
}

/* ----------about--------- */
#about{
    padding: 80px 0px;
    color: gray;
}

.left {
    flex-basis: 35%;
}

.right {
    flex: 60%;
    padding-left: 20px;
}

.left img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-left:0px ;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title{
   font-size: 60px;
   font-weight: 600;
   color: white; 
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    /* color: rgb(255, 93, 93); */
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(255, 93, 93);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-content ul li{
    list-style:none;
    margin: 20px 30px;
    font-size: 15px;
}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

/* -------Projects--------------- */
#projects{
    padding: 30px 0;
}
.projects{
    margin-bottom: 100px;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project-list div{
    background-color: #262626;
    padding: 40px;
    font-weight: 300;
    font-size:13px ;
    border-radius: 12px;
    transition: background 0.5s, transform 0.5s;
}

.project-list div i{
    font-size: 35px;
    margin-bottom:30px ;
}
.project-list div h2{
    font-size: 35px;
}
.project-list p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
}
.project-list div a{
    text-decoration: none;
    margin-top: 25px;
    display: inline-block;
} 
.project-list div:hover{
    background:rgb(255, 93, 93);
    transform: translateY(-10px);
}

/* ----------------resume---------------------- */

#resume{
    padding:30px 0;
}

.resume-list img{
   width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-left:0px ;
}



.button{
    font-size: large;
    font-weight: 900;
    background-color: rgb(253, 112, 60);
    color: black;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer; 
}
.button i{
    padding-right:10px;
}
.button:hover{
    opacity:0.8;
}
.button:active{
    opacity:1;
}

.resume-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    /* grid-gap: 40px; */
    margin-top: 50px;
}
.download_button{
    font-size: large;
    font-weight: 900;
    background-color: rgb(253, 112, 60);
    color: black;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer; 
}
.download_button i{
    padding-right:10px;
}
.download_button:hover{
    opacity:0.8;
}
.download_button:active{
    opacity:1;
}

/* .view_button{
    font-size: large;
    font-weight: 900;
    background-color: rgb(253, 112, 60);
    color: black;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
}
.view_button i{
    padding-right:10px;
}
.view_button:hover{
    opacity:0.8;
}
.view_button:active{
    opacity:1;
} */
/* --------contact--------- */
#contact .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact_left{
    flex-basis: 40%;
    color: rgb(251, 146, 76);
}
.contact_right{
    flex-basis: 60%;
}
.contact_left p i{
    margin-right: 10px;
    margin-top: 10px;
}
.social-icons a{
    font-size: 25px;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 30px;
    position: center;
    display: inline-block;
    /* transition: transform 0.5s; */
}
.social-icons a:hover{
    color: rgb(255, 167, 79); 

}

.contact_right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    height: 25px;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: rgb(110, 110, 145);
    font-size: 18px;
    border-radius: 6px;
}

.copyright{
width: 100%;
text-align: center;
padding: 25px 0;
background: #262626;
font-weight: 300;
margin-top: 20px;
}


/* ----------css for small screen------------ */
@media only screen and (max-width: 600px){
/* #header{
background-image: url(My_images/DK-Photo.jpg);
} */
.header-text{
margin-top: 100%;
font-size: 16px;

}
.header-text h1{
font-size: 30px;

}
.left{
    flex-basis: 100%;
}
.right{
    flex-basis: 100%;
    padding-left: 0;
}
.contact_left, .contact_right{
    flex-basis: 100%;
}
#contact .container {
    flex-direction: column;
}
.left img{
    width: 100%;
    height: auto;
}
}

/* ---gpt code--------- */

#cursor {
    width: 15px;
    height: 15px;
    border: 2px solid #00ffff;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s;
    z-index: 9999;
}

.project-list div.open {
    background: #111;
    color: white;
    transform: scale(1.05);
    transition: 0.3s;
}

/* Styles for message status box */
.message-success {
    background-color: #28a745; /* Green */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.message-error {
    background-color: #dc3545; /* Red */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}